Repository TEAM-ILSAN/yourpool-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, documentation, dependencies

.github/labeler.yml:

labels:
  'enhancement':
    - '\bfeat\b'
configuration:
  - package*.json
  - '**/tsconfig*.json'
documentation:
  - '**/*.md'
dependencies:
  - '**/yarn.lock'

chore: recoil 패키지 제거
  package.json
  yarn.lock
Labels: configuration, dependencies

chore: zustand 패키지 추가
  package.json
  yarn.lock
Labels: configuration, dependencies

feat: zustand boilerplate 추가
  src/stores/chat-room/chat-room.store.ts
  src/stores/chat-room/chat-room.types.ts
Labels: none

navigation screen 세팅
  App.tsx
  ios/Podfile.lock
  ios/yourpool.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  package.json
  src/components/ChatRoom/ChatDetail.tsx
  src/components/ChatRoom/ChatList.tsx
  src/components/Home/BaseLayer.tsx
  src/components/Home/Home.tsx
  src/components/Home/index.tsx
  src/components/MyInfo/MyInfo.tsx
  src/components/MyInfo/MyInfoDetail.tsx
  src/components/MyInfo/MyInfoDetail2.tsx
  src/navigation/RootStackNavigator.tsx
  src/navigation/subNavigator/ChatNavigator.tsx
  src/navigation/subNavigator/MyInfoNavigator.tsx
  yarn.lock
Labels: configuration, dependencies

feature: 회원 가입 관련 react 컴포넌트를 react-native 컴포넌트로 변경 (#13)
  src/components/SignUp/Gender.tsx
  src/components/SignUp/Location.tsx
  src/components/SignUp/Name.tsx
Labels: none

feat: pr template 배경 제거
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
